
phase3/phase3/.idea
phase4/phase4/phase3.sln.DotSettings.sln
phase4/phase4/.idea
phase4/phase4/phase3/bin
phase4/phase4/phase3/obj
phase4/phase4/phase3Test/bin
phase4/phase4/phase3Test/obj


phase5/phase5/.idea
phase5/phase5/phase3/bin
phase5/phase5/phase3/obj
phase5/phase5/phase3Test/bin
phase5/phase5/phase3Test/obj


phsae6/phase6/phase6.sln.DotSettings.user
phsae6/phase6/.idea
phsae6/phase6/bin
phsae6/phase6/obj
phsae6/phase6/phase3Test/bin
phsae6/phase6/phase3Test/obj
